<div>
<%= image_tag(@user.picture_url) %> Knowledge Score: <%= @user.knowledge_score %>
  <h1><%= @user.formatted_name %>'s Fails in the <%= @industry.name %> Industry</h1>
  <ul>
    <%= render @posts %>
  </ul>
</div>
