<h1>FailForward Signed-in Homepage</h1>

<%= link_to 'Add a New Post', new_post_path %>

<% @posts.each do |post| %>
  <ul>
    <li> <%= link_to post.title, post_path(post) %> <%= pluralize(post.comments.count, 'comment') %> </li>
    submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.first_name %>
  </ul>
<% end %>
