<h1>FailForward Signed-in Homepage</h1>

<%= link_to 'Add a New Post', new_post_path %>

<h2><%= current_user.first_name %>'s Posts</h2>

<%= render @user_posts %>

<h2>Recent Posts</h2>

<%= render @recent_posts %>

<h2> Posts in the <%= current_user.industry.name %> Industry </h2>

<%= render @industry_posts %>
