<h1>Create a New Post</h1>

<%= form_for @post do |f| %>
  <%= render 'error_messages', target: @post %>
  <p> <%= f.text_field :title, placeholder: 'Post Title' %> </p>
  <p> Your Industry: <%= current_user.industry.name %> </p>
  <p> <%= f.text_area :body, placeholder: 'Post Body' %> </p>
  <%= f.submit %>
<% end %>
