<p>
  <strong>Title:</strong>
  <%= @post.title %>
  <div id="follow_button">
    <%= button_to 'Follow Fail', follow_post_path, remote: true %>
  </div>
</p>

<p>
  <strong>Industry:</strong>
  <%= link_to @post.industry_name, @post.industry %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= image_tag (@post.user.picture_url) %>
  <%= @post.user_full_name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Gained Knowledge:</strong>
  <ul>
    <%= render @improvements %>
  </ul>
</p>

<%= link_to 'Back', posts_path %>
<%= link_to 'Delete Post', @post, method: :delete %>
<%= link_to 'Edit Post', edit_post_path(@post) %>
<%= link_to 'Have you gained knowledge from this experience?', new_post_improvement_path(@post) %>

<h3>Comments</h3>

<%= form_for ([@post, @comment]) do |f| %>
  <%= f.text_area :body, placeholder: 'Type Comment' %>
  <%= f.submit 'Submit Comment' %>
<% end %>

<div>
  <ul>
    <%= render @comments %>
  </ul>
</div>

