<div class="main-section">
  <div class="user-controls">
    <% if current_user.owns?(@post) %>
      <%= render 'refills/user_controls' %>
    <% else %>
      <% if current_user.subscribes?(@post) %>
        <div class="button subscribe-button">
          <%= button_to 'Unsubscribe from this Fail', unsubscribe_post_path, remote: true, method: :delete %>
        </div>
      <% else %>
        <div class="button subscribe-button">
          <%= button_to 'Subscribe to this Fail', subscribe_post_path, remote: true %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="intro-text">
    <h3><%= link_to @post.industry_name, @post.industry %></h3>
    <h2><%= @post.title %></h2>
    <h4><%= link_to @post.user_full_name, @post.user %></h4>
    <p><%= @post.body %></p>
  </div>

  <div class="knowledge">
    <div class="intro-text">
      <h4><strong>How Have You Improved Through This Fail?</strong></h4>
      <ul>
        <%= render @improvements %>
      </ul>
    </div>
  </div>

  <div>
    <ul>
      <%= render @comments %>
      <%= paginate @comments %>
    </ul>
  </div>

  <div class="comment-wrapper">
    <div class="comment-body">
      <%= form_for ([@post, @comment]) do |f| %>
        <%= f.text_area :body, placeholder: 'Type Comment' %>
        <div class="button comment-button">
          <%= f.submit 'Comment' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
