<nav class="js-menu sliding-menu-content">
  <ul>
    <li><%= link_to 'Recent Fails' %>
    <li><%= link_to 'Fails for You' %>
    <li><%= link_to 'Fails You Follow' %>
    <li><%= link_to 'Other Industries' %>
    <li><%= link_to 'Post New Fail', new_post_path %>
  </ul>
</nav>

<div class="js-menu-screen menu-screen"></div>
