<div class="main-section">
  <button type="button" class="js-menu-trigger sliding-menu-button">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/menu.png" alt="Menu Icon">
  </button>

  <nav class="js-menu sliding-menu-content">
    <ul>
      <li><%= link_to 'Recent Fails', posts_path %>
      <li><%= link_to 'Fails for You', posts_path %>
      <li><%= link_to 'Fails You Follow', posts_path %>
      <li><%= link_to 'Other Industries', industries_path %>
      <li><%= link_to 'Post New Fail', new_post_path %>
    </ul>
  </nav>
<div>
