<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="#" class="js-vertical-tab vertical-tab is-active" rel="tab1">Your Fails</a>
    <a href="#" class="js-vertical-tab vertical-tab" rel="tab2">Recent Fails</a>
    <a href="#" class="js-vertical-tab vertical-tab" rel="tab3"> <%= current_user.industry.name %> Fails</a>
    <a href="#" class="js-vertical-tab vertical-tab" rel="tab4">Fails you Subscribe to</a>
    <a href="#" class="js-vertical-tab vertical-tab" rel="tab5">Other Industries</a>
  </div>

  <div class="vertical-tab-content-container">
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
      <ul>
        <%= render @user_posts %>
      </ul>
    </div>

    <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
      <ul>
        <%= render @recent_posts %>
      </ul>
    </div>

    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <ul>
        <%= render @industry_posts %>
      </ul>
    </div>

    <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
      <ul>
        <%= render @subscribed_posts %>
      </ul>
    </div>

    <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
      <ul>
        <%= render @industries %>
      </ul>
    </div>
</div>

<script>
  $(".js-vertical-tab-content").hide();
  $(".js-vertical-tab-content:first").show();

  /* if in tab mode */
  $(".js-vertical-tab").click(function(event) {
    event.preventDefault();

    $(".js-vertical-tab-content").hide();
    var activeTab = $(this).attr("rel");
    $("#"+activeTab).show();

    $(".js-vertical-tab").removeClass("is-active");
    $(this).addClass("is-active");

    $(".js-vertical-tab-accordion-heading").removeClass("is-active");
    $(".js-vertical-tab-accordion-heading[rel^='"+activeTab+"']").addClass("is-active");
  });

  /* if in accordion mode */
  $(".js-vertical-tab-accordion-heading").click(function(event) {
    event.preventDefault()

    $(".js-vertical-tab-content").hide();
    var accordion_activeTab = $(this).attr("rel");
    $("#"+accordion_activeTab).show();

    $(".js-vertical-tab-accordion-heading").removeClass("is-active");
    $(this).addClass("is-active");

    $(".js-vertical-tab").removeClass("is-active");
    $(".js-vertical-tab[rel^='"+accordion_activeTab+"']").addClass("is-active");
  });
</script>
