<!DOCTYPE html>
<html>
<head>
  <title>FailForward</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>


  <% if current_user.signed_in? %>
    <%= render 'refills/navigation' %>
  <% else %>
    <div id="signin_button">
      <%= button_to 'Sign in with LinkedIn', signin_path(:linkedin), method: :get %>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
